bring-hht-web/src/main/java/gv/hht/web/ws/CalculatorPort.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ws.myeclipseide.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService"
             targetNamespace="http://ws.myeclipseide.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.myeclipseide.com/" schemaLocation="http://6nh7cr.natappfree.cc/WebOnlineChargePro/CalculatorPort?xsd=1"></xsd:import>
    </xsd:schema>
  </types>
  <message name="getCustomerAll">
    <part element="tns:getCustomerAll" name="parameters"></part>
  </message>
  <message name="getCustomerAllResponse">
    <part element="tns:getCustomerAllResponse" name="parameters"></part>
  </message>
  <message name="getUserInfoAll">
    <part element="tns:getUserInfoAll" name="parameters"></part>
  </message>
  <message name="getUserInfoAllResponse">
    <part element="tns:getUserInfoAllResponse" name="parameters"></part>
  </message>
  <message name="syn_area_info">
    <part element="tns:syn_area_info" name="parameters"></part>
  </message>
  <message name="syn_area_infoResponse">
    <part element="tns:syn_area_infoResponse" name="parameters"></part>
  </message>
  <message name="syn_product_info">
    <part element="tns:syn_product_info" name="parameters"></part>
  </message>
  <message name="syn_product_infoResponse">
    <part element="tns:syn_product_infoResponse" name="parameters"></part>
  </message>
  <message name="getUserPdtRltInfo">
    <part element="tns:getUserPdtRltInfo" name="parameters"></part>
  </message>
  <message name="getUserPdtRltInfoResponse">
    <part element="tns:getUserPdtRltInfoResponse" name="parameters"></part>
  </message>
  <message name="getUserDevRltInfo">
    <part element="tns:getUserDevRltInfo" name="parameters"></part>
  </message>
  <message name="getUserDevRltInfoResponse">
    <part element="tns:getUserDevRltInfoResponse" name="parameters"></part>
  </message>
  <message name="getUserPtabInfo">
    <part element="tns:getUserPtabInfo" name="parameters"></part>
  </message>
  <message name="getUserPtabInfoResponse">
    <part element="tns:getUserPtabInfoResponse" name="parameters"></part>
  </message>
  <message name="getPtabDetailAll">
    <part element="tns:getPtabDetailAll" name="parameters"></part>
  </message>
  <message name="getPtabDetailAllResponse">
    <part element="tns:getPtabDetailAllResponse" name="parameters"></part>
  </message>
  <message name="getUserPdtOrderChgAll">
    <part element="tns:getUserPdtOrderChgAll" name="parameters"></part>
  </message>
  <message name="getUserPdtOrderChgAllResponse">
    <part element="tns:getUserPdtOrderChgAllResponse" name="parameters"></part>
  </message>
  <message name="getUserDevHTBchgAll">
    <part element="tns:getUserDevHTBchgAll" name="parameters"></part>
  </message>
  <message name="getUserDevHTBchgAllResponse">
    <part element="tns:getUserDevHTBchgAllResponse" name="parameters"></part>
  </message>
  <message name="getUserDevPurchaseAll">
    <part element="tns:getUserDevPurchaseAll" name="parameters"></part>
  </message>
  <message name="getUserDevPurchaseAllResponse">
    <part element="tns:getUserDevPurchaseAllResponse" name="parameters"></part>
  </message>
  <message name="getUserCardCtmCardAll">
    <part element="tns:getUserCardCtmCardAll" name="parameters"></part>
  </message>
  <message name="getUserCardCtmCardAllResponse">
    <part element="tns:getUserCardCtmCardAllResponse" name="parameters"></part>
  </message>
  <message name="chargePriceByCall">
    <part element="tns:chargePriceByCall" name="parameters"></part>
  </message>
  <message name="chargePriceByCallResponse">
    <part element="tns:chargePriceByCallResponse" name="parameters"></part>
  </message>
  <message name="updateCustomerInfo">
    <part element="tns:updateCustomerInfo" name="parameters"></part>
  </message>
  <message name="updateCustomerInfoResponse">
    <part element="tns:updateCustomerInfoResponse" name="parameters"></part>
  </message>
  <message name="ht_charge_pdt_judge">
    <part element="tns:ht_charge_pdt_judge" name="parameters"></part>
  </message>
  <message name="ht_charge_pdt_judgeResponse">
    <part element="tns:ht_charge_pdt_judgeResponse" name="parameters"></part>
  </message>
  <message name="ht_charge_pdt">
    <part element="tns:ht_charge_pdt" name="parameters"></part>
  </message>
  <message name="ht_charge_pdtResponse">
    <part element="tns:ht_charge_pdtResponse" name="parameters"></part>
  </message>
  <portType name="CalculatorDelegate">
    <operation name="getCustomerAll">
      <input message="tns:getCustomerAll"></input>
      <output message="tns:getCustomerAllResponse"></output>
    </operation>
    <operation name="getUserInfoAll">
      <input message="tns:getUserInfoAll"></input>
      <output message="tns:getUserInfoAllResponse"></output>
    </operation>
    <operation name="syn_area_info">
      <input message="tns:syn_area_info"></input>
      <output message="tns:syn_area_infoResponse"></output>
    </operation>
    <operation name="syn_product_info">
      <input message="tns:syn_product_info"></input>
      <output message="tns:syn_product_infoResponse"></output>
    </operation>
    <operation name="getUserPdtRltInfo">
      <input message="tns:getUserPdtRltInfo"></input>
      <output message="tns:getUserPdtRltInfoResponse"></output>
    </operation>
    <operation name="getUserDevRltInfo">
      <input message="tns:getUserDevRltInfo"></input>
      <output message="tns:getUserDevRltInfoResponse"></output>
    </operation>
    <operation name="getUserPtabInfo">
      <input message="tns:getUserPtabInfo"></input>
      <output message="tns:getUserPtabInfoResponse"></output>
    </operation>
    <operation name="getPtabDetailAll">
      <input message="tns:getPtabDetailAll"></input>
      <output message="tns:getPtabDetailAllResponse"></output>
    </operation>
    <operation name="getUserPdtOrderChgAll">
      <input message="tns:getUserPdtOrderChgAll"></input>
      <output message="tns:getUserPdtOrderChgAllResponse"></output>
    </operation>
    <operation name="getUserDevHTBchgAll">
      <input message="tns:getUserDevHTBchgAll"></input>
      <output message="tns:getUserDevHTBchgAllResponse"></output>
    </operation>
    <operation name="getUserDevPurchaseAll">
      <input message="tns:getUserDevPurchaseAll"></input>
      <output message="tns:getUserDevPurchaseAllResponse"></output>
    </operation>
    <operation name="getUserCardCtmCardAll">
      <input message="tns:getUserCardCtmCardAll"></input>
      <output message="tns:getUserCardCtmCardAllResponse"></output>
    </operation>
    <operation name="chargePriceByCall">
      <input message="tns:chargePriceByCall"></input>
      <output message="tns:chargePriceByCallResponse"></output>
    </operation>
    <operation name="updateCustomerInfo">
      <input message="tns:updateCustomerInfo"></input>
      <output message="tns:updateCustomerInfoResponse"></output>
    </operation>
    <operation name="ht_charge_pdt_judge">
      <input message="tns:ht_charge_pdt_judge"></input>
      <output message="tns:ht_charge_pdt_judgeResponse"></output>
    </operation>
    <operation name="ht_charge_pdt">
      <input message="tns:ht_charge_pdt"></input>
      <output message="tns:ht_charge_pdtResponse"></output>
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:CalculatorDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="getCustomerAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserInfoAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="syn_area_info">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="syn_product_info">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserPdtRltInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserDevRltInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserPtabInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getPtabDetailAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserPdtOrderChgAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserDevHTBchgAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserDevPurchaseAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getUserCardCtmCardAll">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="chargePriceByCall">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="updateCustomerInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="ht_charge_pdt_judge">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="ht_charge_pdt">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port binding="tns:CalculatorPortBinding" name="CalculatorPort">
      <soap:address location="http://6nh7cr.natappfree.cc/WebOnlineChargePro/CalculatorPort"></soap:address>
    </port>
  </service>
</definitions>